@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  overscroll-behavior-y: contain;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
select,
button {
  font-size: 16px; /* запрещает автозум в iOS при фокусе */
}

@supports (padding: max(0px)) {
  body {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
